name: "Semgrep"
on:
 push:
jobs:
  semgrep:
   name: "Semgrep"
   permissions:
    security-events: write
   runs-on: ubuntu-latest
   container:
     image: returntocorp/semgrep:1.1.0
   
   steps:
     - name: "Checkout"
       uses: actions/checkout@v3
     - name: "Semgrep"
       run: semgrep ci --sarif --output=semgrep.sarif
       env:
        SEMGREP_RULES : "p/default"
     - name: "Upload sarif file for gitbub"
       uses: github/codeql-action/upload-sarif@
       if: always()
       with:
         sarif_file: semgrep.sarif